body{
    background-image:url("../imagens/Alan\ Turing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



#divima{
    width: auto;
    height: auto;
    position: absolute;
}
#coracoes{
    z-index: 1000;
    opacity: 0.3;
    position: absolute;
    width: 1400px;
    height: 800px;
}